Node-RED Operator Flow
[{"id":"95bee7e6a441cc45","type":"tab","label":"Operator/Engineer Dashboard Nodes","disabled":false,"info":"","env":[]},{"id":"6406989a4471f004","type":"function","z":"95bee7e6a441cc45","name":"function 43","func":"msg.data = msg.payload\n\nconst values = [\n  {\n    \"dataPointId\": \"DP-c1\",\n    \"qualityCode\": \"0\",\n    \"value\": `${msg.data}`\n  }\n];\nmsg._time = new Date();\nmsg.payload=values;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":4140,"wires":[["05edc902c9c295dc"]]},{"id":"61ce4bfa9a3695ff","type":"inject","z":"95bee7e6a441cc45","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":4140,"wires":[["2fe069d0f10bb2e3"]]},{"id":"2fe069d0f10bb2e3","type":"OpcUa-Item","z":"95bee7e6a441cc45","item":"ns=3;s=\"xBG5\"","datatype":"Boolean","value":"","name":"","x":490,"y":4140,"wires":[["355e82f127fc4416"]]},{"id":"355e82f127fc4416","type":"OpcUa-Client","z":"95bee7e6a441cc45","endpoint":"9500387c60a57d0c","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"","x":710,"y":4140,"wires":[["6406989a4471f004"],[]]},{"id":"05edc902c9c295dc","type":"debug","z":"95bee7e6a441cc45","name":"debug 31","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"data","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":4140,"wires":[]},{"id":"fe31f45973542a6f","type":"function","z":"95bee7e6a441cc45","name":"function 44","func":"if (msg.payload == 1) {\n    var count = context.get('count') || 0;\n    count += 1;\n    msg.payload = \"there is: \" + count;\n    context.set('count', count);\n}\nif (msg.payload == 0) {\n    var nothin = count.get('nothin') || 0;\n    nothin += 1;\n    msg.nothin = \"There are: \" + nothin;\n    context.set('nothin', nothin);\n}\n\nconst values = [\n    {\n        \"dataPointId\": \"DP-c1\",\n        \"qualityCode\": \"0\",\n        \"value\": `${count}`\n    }\n];\nmsg._time = new Date();\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":3780,"wires":[[]]},{"id":"f94a31eee304a138","type":"function","z":"95bee7e6a441cc45","name":"function 45","func":"var count = context.get('count') || 0;\n\nif (msg.payload >= 1) {\n    count += 1;\n    msg.de = count;\n    context.set('count', count);\n    \n}\nelse {\n    msg.de =  count;  \n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":3880,"wires":[[]]},{"id":"6840ebea8eaa1bbf","type":"function","z":"95bee7e6a441cc45","name":"function 46","func":"var counter = context.get('counter') || 0;\nvar hitobject = false;\n\nif ((msg.payload == 1) && (hitobject == false)) {\n    counter += 1;\n    hitobject = true;\n    msg.count2 = counter\n    context.set('counter', counter);\n\n}\nelse if ((msg.payload == 0) && (hitobject = true)) {\n    hitobject = false;\n    msg.count2 = counter\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":3840,"wires":[["3c1aa39bad3e4029","13adcc454e1d9f1e"]]},{"id":"da215eefb7ae092d","type":"function","z":"95bee7e6a441cc45","name":"function 47","func":"var counter = context.get('counter') || 0;\nvar hitobject = false;\n\nif ((msg.payload == 1) && (hitobject == false)) {\n    counter += 1;\n    hitobject = true;\n    msg.count1 = counter\n    context.set('counter', counter);\n\n}\nelse if ((msg.payload == 0) && (hitobject = true)) {\n    hitobject = false;\n    msg.count1 = counter\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":3780,"wires":[["3c1aa39bad3e4029","56e226f4b37f3d09"]]},{"id":"15dc4afc3bdaedc2","type":"inject","z":"95bee7e6a441cc45","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":410,"y":4260,"wires":[["3a6a6115425c13b6"]]},{"id":"3a6a6115425c13b6","type":"function","z":"95bee7e6a441cc45","name":"function 48","func":"let letters = [\"C\", \"D\"];\nlet letterget = letters[1];\nmsg.letterget = letterget\nmsg.letters = letters\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":4220,"wires":[["85eac3d74e75417e","3f71fba957563f45"]]},{"id":"85eac3d74e75417e","type":"debug","z":"95bee7e6a441cc45","name":"debug 32","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"letterget","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":4240,"wires":[]},{"id":"3f71fba957563f45","type":"debug","z":"95bee7e6a441cc45","name":"debug 33","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"letters","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":4340,"wires":[]},{"id":"3c1aa39bad3e4029","type":"function","z":"95bee7e6a441cc45","name":"function 49","func":"var hitobject = false;\nvar c1 = msg.count1;\nvar c2 = msg.count2;\nvar limit = 0;\nvar counterT = 0;\n\nif ((hitobject = false) && (c1 > limit) || (c2 > limit)) {\n    hitobject = true; \n    limit += 1; \n    counterT = c1 + c2; \n    msg.counterT = counterT;\n\n} \nelse if ((hitobject = true) && (msg.payload == 0)) {\n    hitobject = false;\n    msg.counterT = counterT;\n\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":3780,"wires":[["610b79714fb8ad1e","50d2ea427656a277"]]},{"id":"610b79714fb8ad1e","type":"debug","z":"95bee7e6a441cc45","name":"debug 34","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"counterT","targetType":"msg","statusVal":"","statusType":"auto","x":1280,"y":3720,"wires":[]},{"id":"13adcc454e1d9f1e","type":"debug","z":"95bee7e6a441cc45","name":"debug 35","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"count2","targetType":"msg","statusVal":"","statusType":"auto","x":1040,"y":3840,"wires":[]},{"id":"56e226f4b37f3d09","type":"debug","z":"95bee7e6a441cc45","name":"debug 36","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"count1","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":3720,"wires":[]},{"id":"958d658473ffeda0","type":"comment","z":"95bee7e6a441cc45","name":"Engineer Dashboard Nodes","info":"Engineering Dasboard ","x":1040,"y":160,"wires":[]},{"id":"de60fbe19fd3308b","type":"OpcUa-Item","z":"95bee7e6a441cc45","item":"ns=3;s=\"xCL_BG5\"","datatype":"Boolean","value":"","name":"Mag Capacity Sensor","x":420,"y":520,"wires":[["ef8152b907c88e4f"]]},{"id":"cb588c74754634a2","type":"comment","z":"95bee7e6a441cc45","name":"Station 7 - Out","info":"","x":780,"y":1980,"wires":[]},{"id":"ef8152b907c88e4f","type":"OpcUa-Client","z":"95bee7e6a441cc45","endpoint":"2ad94cefa363da14","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"Station 1 - Front Mag","x":640,"y":400,"wires":[["adf58122dec64d8f"],[]]},{"id":"50d2ea427656a277","type":"link out","z":"95bee7e6a441cc45","name":"Count 2","mode":"link","links":[],"x":1235,"y":3780,"wires":[]},{"id":"c4a425e71b6a2528","type":"comment","z":"95bee7e6a441cc45","name":"Station 1 - Front Mag","info":"","x":780,"y":320,"wires":[]},{"id":"f3f101761f137b65","type":"inject","z":"95bee7e6a441cc45","name":"Activation","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":940,"wires":[["41c8650cab540b48","d9fd8e267c37ecaf","b55b14c4eee5e267","8db8845be2539453","2bd4bef214ee4eee","98c3f13720fb92a7","1e01d3d6e1771f0c","b487ef156b05d3c9","9d3f955a4ebe67f2","c403e7866a4ac4e3","de60fbe19fd3308b","e0a206d1881e7480","9d494699468d2e9d"]]},{"id":"09ed3af1654131f1","type":"comment","z":"95bee7e6a441cc45","name":"Station 2 - Measure","info":"","x":780,"y":560,"wires":[]},{"id":"41c8650cab540b48","type":"OpcUa-Item","z":"95bee7e6a441cc45","item":"ns=3;s=\"wAnalogIn1\"","datatype":"UInt16","value":"","name":"Measure Sensor2","x":410,"y":640,"wires":[["aa479a0ea4e78fc5"]]},{"id":"aa479a0ea4e78fc5","type":"OpcUa-Client","z":"95bee7e6a441cc45","endpoint":"999b7b41e9f7c6f3","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"Station 2 - Measure","x":630,"y":640,"wires":[["83de35a25d1f6bbb"],[]]},{"id":"d9fd8e267c37ecaf","type":"OpcUa-Item","z":"95bee7e6a441cc45","item":"ns=3;s=\"wAnalogIn0\"","datatype":"UInt16","value":"","name":"Measure Sensor1","x":410,"y":700,"wires":[["aa479a0ea4e78fc5"]]},{"id":"98c3f13720fb92a7","type":"OpcUa-Item","z":"95bee7e6a441cc45","item":"ns=3;s=\"xBG_P1_PF1\"","datatype":"Boolean","value":"","name":"Light Bulb 'Red'","x":400,"y":760,"wires":[["b96eefb5d1f43409"]]},{"id":"a5be9fbacf1f8399","type":"function","z":"95bee7e6a441cc45","name":"Measure Bit Conversion Function","func":"var bit_1 = 0.00977\nvar bits1 = msg.payload[0] \nvar conversion1;\nvar conversion2; \n\nconversion1 = bits1 * bit_1\nmsg.Meas_bit_coversion1 = conversion1\n\nvar bit_2 = 0.00977\nvar bits2 = msg.payload[1]\nvar conversion;\n\nconversion2 = bits2 * bit_1\nmsg.Meas_bit_coversion2 = conversion2\n\nmsg.test = bits1\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":660,"wires":[["abae158c534e8a79"]]},{"id":"2bd4bef214ee4eee","type":"OpcUa-Item","z":"95bee7e6a441cc45","item":"ns=3;s=\"xBG_P1_PF2\"","datatype":"Boolean","value":"","name":"Light Bulb 'Green'","x":410,"y":820,"wires":[["b96eefb5d1f43409"]]},{"id":"8db8845be2539453","type":"OpcUa-Item","z":"95bee7e6a441cc45","item":"ns=3;s=\"xBG_P1_FL\"","datatype":"Boolean","value":"","name":"Light Bulb 'Flash'","x":410,"y":880,"wires":[["b96eefb5d1f43409"]]},{"id":"b96eefb5d1f43409","type":"OpcUa-Client","z":"95bee7e6a441cc45","endpoint":"999b7b41e9f7c6f3","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"Station 2 - Measure","x":620,"y":820,"wires":[["989377a2f9706bc4"],[]]},{"id":"d82733978d99ebd6","type":"comment","z":"95bee7e6a441cc45","name":"bit conversion ","info":"need to find the bit conversion of measure\n    ","x":970,"y":600,"wires":[]},{"id":"1db9878c166cc8b6","type":"comment","z":"95bee7e6a441cc45","name":"Green / Amber/ Red","info":"","x":870,"y":780,"wires":[]},{"id":"b5b26e4e974b3788","type":"comment","z":"95bee7e6a441cc45","name":"Station 3 - Drill ","info":"","x":700,"y":960,"wires":[]},{"id":"2a56e40cbae1acbd","type":"comment","z":"95bee7e6a441cc45","name":"Work Piece Status","info":"","x":1070,"y":780,"wires":[]},{"id":"435e9b782138d1ca","type":"comment","z":"95bee7e6a441cc45","name":"Station 5 - Back Mag ","info":"","x":890,"y":1500,"wires":[]},{"id":"658f70366128a751","type":"inject","z":"95bee7e6a441cc45","name":"Activation","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":1880,"wires":[["9a503337cccb913b","d701b3f73754aec1","5bbe3d41518293bf","22de64216046d787","4f2d5abcc398a9a4","bf0617b167a27559","2e78440747e8b162","5bcb312de8be5a26","c6e554a79e112dd5"]]},{"id":"9a503337cccb913b","type":"OpcUa-Item","z":"95bee7e6a441cc45","item":"ns=3;s=\"wAnalogIn0\"","datatype":"UInt16","value":"","name":"Force","x":380,"y":1880,"wires":[["2b05f8ae89a5d1ae"]]},{"id":"2b05f8ae89a5d1ae","type":"OpcUa-Client","z":"95bee7e6a441cc45","endpoint":"1da8a1c27cea1862","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"Station 6 - Press","x":640,"y":1820,"wires":[["97010fab2d1edf08"],[]]},{"id":"d701b3f73754aec1","type":"OpcUa-Item","z":"95bee7e6a441cc45","item":"ns=3;s=\"wAnalogIn1\"","datatype":"UInt16","value":"","name":"Pressure","x":390,"y":1820,"wires":[["2b05f8ae89a5d1ae"]]},{"id":"e0a206d1881e7480","type":"OpcUa-Item","z":"95bee7e6a441cc45","item":"ns=3;s=\"xCL_BG8\"","datatype":"Boolean","value":"","name":"Case Present Sensor","x":420,"y":460,"wires":[["ef8152b907c88e4f"]]},{"id":"adf58122dec64d8f","type":"join","z":"95bee7e6a441cc45","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":".5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":830,"y":400,"wires":[["0ad93dbab13e3e7d"]]},{"id":"b55b14c4eee5e267","type":"OpcUa-Item","z":"95bee7e6a441cc45","item":"ns=3;s=\"xBG_BG1\"","datatype":"Boolean","value":"","name":"RFID Sensor Read","x":410,"y":940,"wires":[["b96eefb5d1f43409"]]},{"id":"989377a2f9706bc4","type":"join","z":"95bee7e6a441cc45","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":".5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":780,"y":820,"wires":[["068e400c1da89a04"]]},{"id":"22de64216046d787","type":"OpcUa-Item","z":"95bee7e6a441cc45","item":"ns=3;s=\"xCL_BG5\"","datatype":"Boolean","value":"","name":"Mag Capacity Sensor","x":440,"y":1640,"wires":[["a717e734d969b1b7"]]},{"id":"a717e734d969b1b7","type":"OpcUa-Client","z":"95bee7e6a441cc45","endpoint":"733370d575c25424","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"Station 5 - Back Mag","x":660,"y":1580,"wires":[["a2681ccd486730fd"],[]]},{"id":"0935778ce0c4fa82","type":"function","z":"95bee7e6a441cc45","name":"Define Function","func":"var mag_cap = msg.payload[0]\nvar front_present = msg.payload[1]\nmsg.BM_carrier_present = msg.payload[2]\nif (mag_cap == false) { \n    msg.flag1 = true \n\n}\nelse if (mag_cap == true) {\n    msg.flag1 = false \n\n}\n\nif (front_present == true) {\n    msg.flag2 = true  \n\n}\n\nif (front_present == false) {\n    msg.flag2 = false\n}\n\nmsg.BM_mag_cap = msg.flag1\nmsg.BM_front_present = msg.flag2\nreturn msg;\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":1580,"wires":[["390f1f0a5c0acf86"]]},{"id":"4f2d5abcc398a9a4","type":"OpcUa-Item","z":"95bee7e6a441cc45","item":"ns=3;s=\"xCL_BG8\"","datatype":"Boolean","value":"","name":"Case Present Sensor","x":440,"y":1580,"wires":[["a717e734d969b1b7"]]},{"id":"a2681ccd486730fd","type":"join","z":"95bee7e6a441cc45","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":".5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":850,"y":1580,"wires":[["0935778ce0c4fa82"]]},{"id":"bcc2c98fd1e9ac38","type":"comment","z":"95bee7e6a441cc45","name":"Station 6 - Press ","info":"","x":820,"y":1760,"wires":[]},{"id":"632885a55e3f4c35","type":"function","z":"95bee7e6a441cc45","name":"Press Bit Conversion Function","func":"var force = msg.payload[0]\nvar pressure = msg.payload[1]\nmsg.Press_carrier_present = msg.payload[2]\nvar bit1_force = 0.0489\nvar bit1_pressure = 0.00147\nvar bit_con_force\nvar bit_con_pres\n\nmsg.Press_bit_con_force = force * bit1_force\nmsg.Press_bit_con_press = pressure * bit1_pressure\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":1820,"wires":[["390f1f0a5c0acf86"]]},{"id":"97010fab2d1edf08","type":"join","z":"95bee7e6a441cc45","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":".5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":830,"y":1820,"wires":[["632885a55e3f4c35"]]},{"id":"2487738a39f0017e","type":"mindconnect","z":"95bee7e6a441cc45","name":"","configtype":"SHARED_SECRET","agentconfig":"{\n  \"content\": {\n    \"baseUrl\": \"https://southgate.eu1.mindsphere.io\",\n    \"iat\": \"eyJraWQiOiJrZXktaWQtMSIsInR5cCI6IkpXVCIsImFsZyI6IlJTMjU2In0.eyJpc3MiOiJTQ0kiLCJzdWIiOiI2MDNiZjk1YmIyN2Q0ODdhOGJkYzdjMDUwZTdjZTk0NCIsImF1ZCI6IkFJQU0iLCJpYXQiOjE3MDk3MzQwMTksIm5iZiI6MTcwOTczNDAxOSwiZXhwIjoxNzEwMzM4ODE5LCJqdGkiOiI2MzE5ZmQwZC0zZDFlLTQ3ZDEtODliOC1kOWU1ODIxYTA0OGMiLCJzY29wZSI6IklBVCIsInRlbiI6Imdic2lvdDAxIiwidGVuX2N0eCI6Im1haW4tdGVuYW50IiwiY2xpZW50X2NyZWRlbnRpYWxzX3Byb2ZpbGUiOlsiU0hBUkVEX1NFQ1JFVCJdLCJzY2hlbWFzIjpbInVybjpzaWVtZW5zOm1pbmRzcGhlcmU6djEiXX0.fsBW_J8kTewJmVpsrWTnNALgePBvNq6Tqf7SKBjw5OHBKq5RnpU3hhJY-AKJL3LVYb3tMWSkecbF8aDRpHPi5dK0943uMr0IzCze511eW-nA3x9B6398kAvFncNTWXSsete3sAPtR9oMWFXTk2eONPkEms2OlPzZEn0QWhDPimtyD1weKalV7VUwLNhTmmPBXVb4x_hrPW1CD05Q07fGTAodnztekHRNt39HoZP5ah2G1PUEEZYjD5_4RKKe2zKji06kG-l2KbNZViiKvNyI_JfWFcreNMcGpB3aHHKaX8JhEUsTDuqLhwhcEG-eUYZkYbaVRQX_3XLaTfM5hv7oGA\",\n    \"clientCredentialProfile\": [\n      \"SHARED_SECRET\"\n    ],\n    \"clientId\": \"603bf95bb27d487a8bdc7c050e7ce944\",\n    \"tenant\": \"gbsiot01\"\n  },\n  \"expiration\": \"2024-03-13T14:06:59.000Z\"\n}","privatekey":"","model":"","validate":true,"validateevent":true,"chunk":false,"disablekeepalive":false,"emitcontrol":false,"datalakeonly":false,"supressverbosity":false,"retry":3,"parallel":1,"asyncduration":10,"x":1650,"y":980,"wires":[[]]},{"id":"dc79b0f3eb32d1ba","type":"OpcUa-Client","z":"95bee7e6a441cc45","endpoint":"a56a2dedfd8a174b","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"Station 3 - Drill","x":620,"y":1060,"wires":[["b18bfd12fa155723"],[]]},{"id":"1e01d3d6e1771f0c","type":"OpcUa-Item","z":"95bee7e6a441cc45","item":"ns=3;s=\"xQA1_A1\"","datatype":"Boolean","value":"","name":"Actuator Drill Right","x":410,"y":1240,"wires":[["dc79b0f3eb32d1ba"]]},{"id":"b487ef156b05d3c9","type":"OpcUa-Item","z":"95bee7e6a441cc45","item":"ns=3;s=\"xQA1_A2\"","datatype":"Double","value":"","name":"Actuator Drill Left","x":410,"y":1180,"wires":[["dc79b0f3eb32d1ba"]]},{"id":"9d3f955a4ebe67f2","type":"OpcUa-Item","z":"95bee7e6a441cc45","item":"ns=3;s=\"xQA1_A3\"","datatype":"Boolean","value":"","name":"Actuator Drill Active","x":410,"y":1120,"wires":[["dc79b0f3eb32d1ba"]]},{"id":"b18bfd12fa155723","type":"join","z":"95bee7e6a441cc45","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":".5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":810,"y":1060,"wires":[["22574bb5ba7f5869"]]},{"id":"22574bb5ba7f5869","type":"function","z":"95bee7e6a441cc45","name":"Define Function","func":"msg.Drill_drill_right = msg.payload[0]\nmsg.Drill_drill_left = msg.payload[1]\nmsg.Drill_drill_active = msg.payload[2]\nmsg.Drill_carrier_present = msg.payload[3]\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":1060,"wires":[["abae158c534e8a79"]]},{"id":"9d494699468d2e9d","type":"OpcUa-Item","z":"95bee7e6a441cc45","item":"ns=3;s=\"Rfid1_IN\".\"xTagPresent\"","datatype":"Boolean","value":"","name":"RFID Sensor Read","x":410,"y":400,"wires":[["ef8152b907c88e4f"]]},{"id":"c403e7866a4ac4e3","type":"OpcUa-Item","z":"95bee7e6a441cc45","item":"ns=3;s=\"Rfid1_IN\".\"xTagPresent\"","datatype":"Boolean","value":"","name":"RFID Sensor","x":390,"y":1060,"wires":[["dc79b0f3eb32d1ba"]]},{"id":"bf0617b167a27559","type":"OpcUa-Item","z":"95bee7e6a441cc45","item":"ns=3;s=\"Rfid1_IN\".\"xTagPresent\"","datatype":"Boolean","value":"","name":"RFID Sensor Read","x":430,"y":1520,"wires":[["a717e734d969b1b7"]]},{"id":"5bbe3d41518293bf","type":"OpcUa-Item","z":"95bee7e6a441cc45","item":"ns=3;s=\"Rfid1_IN\".\"xTagPresent\"","datatype":"Boolean","value":"","name":"RFID Sensor Read","x":430,"y":1760,"wires":[["2b05f8ae89a5d1ae"]]},{"id":"83de35a25d1f6bbb","type":"join","z":"95bee7e6a441cc45","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":".5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":790,"y":640,"wires":[["a5be9fbacf1f8399"]]},{"id":"abae158c534e8a79","type":"join","z":"95bee7e6a441cc45","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":".5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1410,"y":820,"wires":[["ee4ef8c03d0ce2f2"]]},{"id":"ee4ef8c03d0ce2f2","type":"function","z":"95bee7e6a441cc45","name":"MindSphere Json Conversion Function","func":"msg.FM_mag_cap \nmsg.FM_front_present \nmsg.FM_carrier_Present\n\nmsg.Meas_bit_coversion1\nmsg.Meas_bit_coversion2\nmsg.Meas_work_piece\nmsg.Meas_flash_LED \nmsg.Meas_green_LED\nmsg.Meas_red_LED \n\nmsg.Drill_drill_right \nmsg.Drill_drill_left \nmsg.Drill_drill_active \nmsg.Drill_carrier_present \n\n\n// take a look at the flow examples at https://playground.mindconnect.rocks\n//\n// - MindSphere expects all values to be encoded as strings\n// - Integers must not have any decimal places\n// - It is a good practice to use javascript literal notation\n// \n// * Examples: \n// \n//   - Random value between 0 and 100: `${Math.random()*100}` \n//   - Variable (HUMIDITY) from input node : `${msg.payload.HUMIDITY}` \n//   - Variable (SPEED) from input node with 0 as default: `${msg.payload.SPEED || 0}`\n\nconst values = [\n    {\n        \"dataPointId\": \"DP-Station3_Drill_Drill_Right\",\n        \"qualityCode\": \"0\",\n        \"value\": `${msg.Drill_drill_right}`\n    },\n    {\n        \"dataPointId\": \"DP-Station3_Drill_Drill_Left\",\n        \"qualityCode\": \"0\",\n        \"value\": `${msg.Drill_drill_left}`\n    },\n    {\n        \"dataPointId\": \"DP-Station3_Drill_Drill_Active\",\n        \"qualityCode\": \"0\",\n        \"value\": `${msg.Drill_drill_active}`\n    },\n    {\n        \"dataPointId\": \"DP-Station3_Drill_Carrier_Present\",\n        \"qualityCode\": \"0\",\n        \"value\": `${msg.Drill_carrier_present}`\n    },\n    {\n        \"dataPointId\": \"DP-Station2_Meas_Work_Piece\",\n        \"qualityCode\": \"0\",\n        \"value\": `${msg.Meas_work_piece}`\n    },\n    {\n        \"dataPointId\": \"DP-Station2_Meas_Pass\",\n        \"qualityCode\": \"0\",\n        \"value\": `${msg.Meas_green_LED}`\n    },\n    {\n        \"dataPointId\": \"DP-Station2_Meas_Measure2\",\n        \"qualityCode\": \"0\",\n        \"value\": `${msg.Meas_bit_coversion2}`\n    },\n    {\n        \"dataPointId\": \"DP-Station2_Meas_Measure1\",\n        \"qualityCode\": \"0\",\n        \"value\": `${msg.Meas_bit_coversion1}`\n    },\n    {\n        \"dataPointId\": \"DP-Station2_Meas_Fail\",\n        \"qualityCode\": \"0\",\n        \"value\": `${msg.Meas_red_LED}`\n    },\n    {\n        \"dataPointId\": \"DP-Station2_Meas_Busy\",\n        \"qualityCode\": \"0\",\n        \"value\": `${msg.Meas_flash_LED}`\n    },\n    {\n        \"dataPointId\": \"DP-Station1_FM_Mag_Empty\",\n        \"qualityCode\": \"0\",\n        \"value\": `${msg.FM_mag_cap}`\n    },\n    {\n        \"dataPointId\": \"DP-Station1_FM_Case_Detected\",\n        \"qualityCode\": \"0\",\n        \"value\": `${msg.FM_front_present}`\n    },\n    {\n        \"dataPointId\": \"DP-Station1_FM_Carrier_Present\",\n        \"qualityCode\": \"0\",\n        \"value\": `${msg.FM_carrier_Present}`\n    }\n];\nmsg._time = new Date();\nmsg.payload = values;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1670,"y":820,"wires":[["2487738a39f0017e"]]},{"id":"5acd85ee998008dd","type":"mindconnect","z":"95bee7e6a441cc45","name":"","configtype":"SHARED_SECRET","agentconfig":"{  \"content\": {    \"baseUrl\": \"https://southgate.eu1.mindsphere.io\",    \"iat\": \"eyJraWQiOiJrZXktaWQtMSIsInR5cCI6IkpXVCIsImFsZyI6IlJTMjU2In0.eyJpc3MiOiJTQ0kiLCJzdWIiOiJjZjUzYWRhMTg5NTE0YTczYjU0Y2Q0ZDkzYjc4NWQ2YiIsImF1ZCI6IkFJQU0iLCJpYXQiOjE3MDk3Mzc5MjYsIm5iZiI6MTcwOTczNzkyNiwiZXhwIjoxNzEwMzQyNzI2LCJqdGkiOiI4OGFhMDI5My1hMmE4LTRjOTktOWZiMS03NzBiMDJjMjQ1YzgiLCJzY29wZSI6IklBVCIsInRlbiI6Imdic2lvdDAxIiwidGVuX2N0eCI6Im1haW4tdGVuYW50IiwiY2xpZW50X2NyZWRlbnRpYWxzX3Byb2ZpbGUiOlsiU0hBUkVEX1NFQ1JFVCJdLCJzY2hlbWFzIjpbInVybjpzaWVtZW5zOm1pbmRzcGhlcmU6djEiXX0.X8CsizNfqgEX-WhkbJbVaiJ1KGdCCT_42kUWUJ7Icd14yaHjTHkwSYlCVZyXUmxILPm1wpmnVWGnNG44K6x6h4KbGe8ixMALZrFWx6vr5W0tDd0B4SWJOW8SyGJXLuJSNAPHwtMRJTfnJrLZ46fYfv40p1YCX1qAxkucG0tDlFls2-uACB0J0QJNN9xX4I0o8g6Cg9OEo3R_ZN9EtU2Z1T_MR02Mnqx9KVYP_qD3AZN4jVpng9HXnBd6PltQ-y99edotimh2V5oNNMwSpg_FRwbm_pCFhJUlWX_M8v73e2lkgkrP_VfyIjHVeNGjR8Inq0JnPIRIe9QynptsEDBTiQ\",    \"clientCredentialProfile\": [      \"SHARED_SECRET\"    ],    \"clientId\": \"cf53ada189514a73b54cd4d93b785d6b\",    \"tenant\": \"gbsiot01\"  },  \"expiration\": \"2024-03-13T15:12:06.000Z\"}","privatekey":"","model":"","validate":true,"validateevent":true,"chunk":false,"disablekeepalive":false,"emitcontrol":false,"datalakeonly":false,"supressverbosity":false,"retry":3,"parallel":1,"asyncduration":10,"x":1670,"y":1960,"wires":[[]]},{"id":"390f1f0a5c0acf86","type":"join","z":"95bee7e6a441cc45","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":".5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1310,"y":1820,"wires":[["cb4028540768b9bd"]]},{"id":"cb4028540768b9bd","type":"function","z":"95bee7e6a441cc45","name":"MindSphere Json Conversion Function","func":"msg.BM_carrier_present \nmsg.BM_mag_cap \nmsg.BM_front_present\n\nmsg.Press_carrier_present\nmsg.Press_bit_con_force\nmsg.Press_bit_con_press \n\nmsg.Out_counter_total\nmsg.Out_carrier_present\n\n\n\n\nconst values = [\n    {\n        \"dataPointId\": \"DP-Station7_Out_Total_Count\",\n        \"qualityCode\": \"0\",\n        \"value\": `${msg.Out_counter_total}`\n    },\n    {\n        \"dataPointId\": \"DP-Station7_Out_Carrier_Present\",\n        \"qualityCode\": \"0\",\n        \"value\": `${msg.Out_carrier_present}`\n    },\n    {\n        \"dataPointId\": \"DP-Station6_Press_Pressure\",\n        \"qualityCode\": \"0\",\n        \"value\": `${msg.Press_bit_con_press}`\n    },\n    {\n        \"dataPointId\": \"DP-Station6_Press_Force\",\n        \"qualityCode\": \"0\",\n        \"value\": `${msg.Press_bit_con_force}`\n    },\n    {\n        \"dataPointId\": \"DP-Station6_Press_Carrier_Present\",\n        \"qualityCode\": \"0\",\n        \"value\": `${msg.Press_carrier_present}`\n    },\n    {\n        \"dataPointId\": \"DP-Station5_BM_Mag_Empty\",\n        \"qualityCode\": \"0\",\n        \"value\": `${msg.BM_front_present}`\n    },\n    {\n        \"dataPointId\": \"DP-Station5_BM_Case_Detected\",\n        \"qualityCode\": \"0\",\n        \"value\": `${msg.BM_front_present}`\n    },\n    {\n        \"dataPointId\": \"DP-Station5_BM_Carrier_Present\",\n        \"qualityCode\": \"0\", \n        \"value\": `${msg.BM_carrier_present}`\n    }\n];\nmsg._time = new Date();\nmsg.payload = values;\nreturn msg;\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1570,"y":1820,"wires":[["5acd85ee998008dd"]]},{"id":"2e78440747e8b162","type":"OpcUa-Item","z":"95bee7e6a441cc45","item":"ns=3;s=\"Rfid1_IN\".\"xTagPresent\"","datatype":"Boolean","value":"","name":"RFID Sensor Read","x":350,"y":2040,"wires":[["6a294b3c07648dba"]]},{"id":"5391f6931119ce90","type":"join","z":"95bee7e6a441cc45","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":".5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1030,"y":2080,"wires":[["cb30f31a9637fcaa"]]},{"id":"cb30f31a9637fcaa","type":"function","z":"95bee7e6a441cc45","name":"Total Count Function","func":"msg.Out_counter_total = msg.count1 + msg.count2 \nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1220,"y":2080,"wires":[["390f1f0a5c0acf86"]]},{"id":"5bcb312de8be5a26","type":"OpcUa-Item","z":"95bee7e6a441cc45","item":"ns=3;s=\"xGM_BG4\"","datatype":"Boolean","value":"","name":"Light Breaker Sensor 1","x":360,"y":2100,"wires":[["007ac23938d81593"]]},{"id":"007ac23938d81593","type":"OpcUa-Client","z":"95bee7e6a441cc45","endpoint":"9500387c60a57d0c","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"Station 7 - Out","x":560,"y":2100,"wires":[["2b7425865e9b84fa"],[]]},{"id":"c6e554a79e112dd5","type":"OpcUa-Item","z":"95bee7e6a441cc45","item":"ns=3;s=\"xGM_BG5\"","datatype":"Boolean","value":"","name":"Light Breaker Sensor 2 ","x":360,"y":2160,"wires":[["fee0aacc28218d84"]]},{"id":"2b7425865e9b84fa","type":"function","z":"95bee7e6a441cc45","name":"Counter Function1","func":"var counter1 = context.get('counter') || 0;\nvar hitobject = context.get(\"hitobject\");\n\nif (hitobject === undefined) {\n  hitobject = true;\n  context.set('hitobject', hitobject);\n  msg.test = ('set')\n}\n\nif ((msg.payload == true) && (hitobject == true)) {\n  counter1++;\n  hitobject = false;\n  context.set('counter', counter1);\n  context.set('hitobject', hitobject);\n  msg.count1 = counter1;\n\n}\n\nelse if ((msg.payload == true) && (hitobject == false)) {\n  msg.count1 = counter1;\n\n}\n\nelse if ((msg.payload == false) && (hitobject == false)) {\n  hitobject = true;\n  context.set('hitobject', hitobject);\n  msg.test = ('reset');\n  msg.count1 = counter1;\n\n}\n\nelse if ((msg.payload == false) && (hitobject == true)) {\n  msg.count1 = counter1;\n\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":2100,"wires":[["5391f6931119ce90"]]},{"id":"a9d337d3fb7d8075","type":"function","z":"95bee7e6a441cc45","name":"Counter Function2","func":"var counter2 = context.get('counter2') || 0;\nvar hitobject = context.get(\"hitobject\");\n\nif (hitobject === undefined) {\n  hitobject = true;\n  context.set('hitobject', hitobject);\n  msg.test = ('set')\n}\n\nif ((msg.payload == true) && (hitobject == true)) {\n  counter2++;\n  hitobject = false;\n  context.set('counter2', counter2);\n  context.set('hitobject', hitobject);\n  msg.count2 = counter2;\n\n}\n\nelse if ((msg.payload == true) && (hitobject == false)) {\n  msg.count2 = counter2;\n\n}\n\nelse if ((msg.payload == false) && (hitobject == false)) {\n  hitobject = true;\n  context.set('hitobject', hitobject);\n  msg.test = ('reset');\n  msg.count2 = counter2;\n\n}\n\nelse if ((msg.payload == false) && (hitobject == true)) {\n  msg.count2 = counter2;\n\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":2160,"wires":[["5391f6931119ce90"]]},{"id":"fee0aacc28218d84","type":"OpcUa-Client","z":"95bee7e6a441cc45","endpoint":"9500387c60a57d0c","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"Station 7 - Out","x":560,"y":2160,"wires":[["a9d337d3fb7d8075"],[]]},{"id":"efe1f6a1c5c84c45","type":"function","z":"95bee7e6a441cc45","name":"Define Function","func":"msg.Out_carrier_present = msg.payload\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":2040,"wires":[["5391f6931119ce90"]]},{"id":"6a294b3c07648dba","type":"OpcUa-Client","z":"95bee7e6a441cc45","endpoint":"9500387c60a57d0c","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"Station 7 - Out","x":560,"y":2040,"wires":[["efe1f6a1c5c84c45"],[]]},{"id":"f3021b7b4f337048","type":"comment","z":"95bee7e6a441cc45","name":"Drill Functions","info":"","x":890,"y":1020,"wires":[]},{"id":"0ad93dbab13e3e7d","type":"function","z":"95bee7e6a441cc45","name":"Front Mag Function","func":"var mag_cap = msg.payload[0]\nvar front_present = msg.payload[1]\nvar carrier_present = msg.payload[2]\n\nif (mag_cap == false) { \n    msg.flag1 = true \n\n}\nelse if (mag_cap == true) {\n    msg.flag1 = false \n\n}\n\nif (front_present == true) {\n    msg.flag2 = true  \n\n}\n\nif (front_present == false) {\n    msg.flag2 = false\n}\n\nmsg.FM_mag_cap = msg.flag1\nmsg.FM_front_present = msg.flag2\nmsg.FM_carrier_Present = carrier_present\nreturn msg;\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1010,"y":400,"wires":[["abae158c534e8a79"]]},{"id":"068e400c1da89a04","type":"function","z":"95bee7e6a441cc45","name":"Define Function","func":"msg.Meas_work_piece = msg.payload[0]\nmsg.Meas_flash_LED = msg.payload[1] \nmsg.Meas_green_LED = msg.payload[2]\nmsg.Meas_red_LED = msg.payload[3]\n\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":820,"wires":[["abae158c534e8a79"]]},{"id":"9500387c60a57d0c","type":"OpcUa-Endpoint","endpoint":"opc.tcp://172.21.7.1:4840","secpol":"None","secmode":"None","none":true,"login":false,"usercert":false,"usercertificate":"","userprivatekey":""},{"id":"2ad94cefa363da14","type":"OpcUa-Endpoint","endpoint":"opc.tcp://172.21.1.1:4840","secpol":"None","secmode":"None","none":true,"login":false,"usercert":false,"usercertificate":"","userprivatekey":""},{"id":"999b7b41e9f7c6f3","type":"OpcUa-Endpoint","endpoint":"opc.tcp://172.21.2.1:4840","secpol":"None","secmode":"None","none":true,"login":false,"usercert":false,"usercertificate":"","userprivatekey":""},{"id":"1da8a1c27cea1862","type":"OpcUa-Endpoint","endpoint":"opc.tcp://172.21.6.1:4840","secpol":"None","secmode":"None","none":true,"login":false,"usercert":false,"usercertificate":"","userprivatekey":""},{"id":"733370d575c25424","type":"OpcUa-Endpoint","endpoint":"opc.tcp://172.21.5.1:4840","secpol":"None","secmode":"None","none":true,"login":false,"usercert":false,"usercertificate":"","userprivatekey":""},{"id":"a56a2dedfd8a174b","type":"OpcUa-Endpoint","endpoint":"opc.tcp://172.21.3.1:4840","secpol":"None","secmode":"None","none":true,"login":false,"usercert":false,"usercertificate":"","userprivatekey":""}]
